aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17.2
antiorm==1.2.1
APScheduler==3.10.4
arrow==1.2.2
asgiref==3.6.0
certifi==2023.5.7
cffi==1.15.1
channels==4.0.0
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.2
colorama==0.4.6
contourpy==1.0.6
cookiecutter==1.7.3
crispy-bootstrap4==2022.1
db==0.1.1
db-sqlite3==0.0.1
death==1.2.2
defusedxml==0.7.1
distlib==0.3.4
dj-database-url==2.0.0
Django==4.2.1
django-admin-soft-dashboard==1.0.12
django-allauth==0.54.0
django-allauth-2fa==0.10.0
django-apscheduler==0.6.2
django-bootstrap4==23.1
django-cors-headers==3.11.0
django-crispy-forms==2.0
django-dbbackup==4.0.2
django-dynamic-model==0.3.0
django-embed-video==1.4.8
django-filter==23.3
django-jazzmin==2.6.0
django-js-routes==0.2.0
django-multiselectfield==0.1.12
django-otp==1.2.0
django-password-validators==1.7.1
django-seed==0.3.1
django-session-timeout==0.1.0
django-tailwind==3.0.1
Django-Verify-Email==2.0.3
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
Faker==19.11.0
gunicorn==20.1.0
idna==3.4
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
Jinja2==3.1.1
jinja2-time==0.2.0
joblib==1.2.0
jsonschema==4.7.2
kiwisolver==1.4.4
lru-dict==1.1.8
lxml==4.9.0
MarkupSafe==2.1.1
matplotlib==3.6.2
MiniSom==2.3.0
MouseInfo==0.1.3
mss==9.0.1
multiaddr==0.0.9
multidict==6.0.2
mysql-connector-python==8.0.30
netaddr==0.8.0
numpy==1.23.0
oauth2client==4.1.3
oauthlib==3.2.2
openai==0.27.2
openpyxl==3.0.9
outcome==1.2.0
packaging==22.0
pandas==1.4.3
parsimonious==0.8.1
pefile==2021.9.3
Pillow==10.0.0
pipenv==2022.5.2
platformdirs==2.4.1
plotly==5.14.1
poyo==0.5.0
protobuf==3.20.1
psycopg==3.1.9
psycopg-binary==3.1.9
pycparser==2.21
pycryptodome==3.15.0
pygame==2.1.2
PyGetWindow==0.0.9
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
PyJWT==2.7.0
PyMsgBox==1.0.9
pyparsing==3.0.7
pyperclip==1.8.2
pypng==0.20220715.0
PyRect==0.2.0
pyrsistent==0.18.1
pyscreenshot==3.1
PyScreeze==0.1.29
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python3-openid==3.2.0
pytweening==1.0.7
pytz==2023.3
pywin32==304
pywin32-ctypes==0.2.0
qrcode==7.4.2
requests==2.30.0
requests-oauthlib==1.3.1
rlp==2.0.1
rsa==4.8
scikit-learn==1.2.0
scipy==1.10.0
selenium==4.4.3
six==1.16.0
sklearn==0.0.post1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
tabulate==0.9.0
tenacity==8.2.2
text-unidecode==1.3
threadpoolctl==3.1.0
tk==0.1.0
toml==0.10.2
toolz==0.12.0
toposort==1.10
tqdm==4.65.0
trio==0.21.0
trio-websocket==0.9.2
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.1
uritemplate==4.1.1
urllib3==2.0.2
whitenoise==6.4.0
