APScheduler==3.10.4
crispy-bootstrap4==2022.1
db-sqlite3==0.0.1
Django==4.2.1
django-admin-soft-dashboard==1.0.12
django-apscheduler==0.6.2
django-bootstrap4==23.1
django-crispy-forms==2.0
django-filter==23.3
django-jazzmin==2.6.0
django-js-routes==0.2.0
django-multiselectfield==0.1.12
django-password-validators==1.7.1
django-seed==0.3.1
django-session-timeout==0.1.0
django-tailwind==3.0.1
Django-Verify-Email==2.0.3
djangorestframework==3.14.0
Faker==19.11.0
Jinja2==3.1.1
jinja2-time==0.2.0
mysql-connector-python==8.0.30
oauth2client==4.1.3
Pillow==10.0.0
pipenv==2022.5.2
plotly==5.14.1
psycopg==3.1.9
psycopg-binary==3.1.9
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
text-unidecode==1.3