{% load static %}
{% block sidebar %}
<!-- ========== Left Sidebar Start ========== -->
<!-- ========== Left Sidebar Start ========== -->
<style>
    /* Add this CSS to control the display of sub-menus */
    .sub-menu {
        display: none;
    }

    .show {
        display: block;
    }
</style>

<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div class="user-sidebar text-center">
            <div class="dropdown">
                <div class="user-img">
                    <img src="{% static 'images/users/user.png' %}" alt="" class="rounded-circle">
                    <span class="avatar-online bg-success"></span>
                </div>
                <div class="user-info">
                    <h5 class="mt-3 font-size-16 text-white">{{ user.username }}</h5>
                    <span class="font-size-13 text-white-50">Administrator</span>
                </div>
            </div>
        </div>
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>
                <li>
                    <a href="{% url 'index' %}" class="waves-effect">
                        <i class="dripicons-home"></i><span class="badge rounded-pill bg-info float-end">3</span>
                        <span key="t-dashboard">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'calendar' %}" class=" waves-effect">
                        <i class="dripicons-calendar"></i>
                        <span key="t-calendar">Calendar</span>
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'chat' %}" class=" waves-effect">
                        <i class="dripicons-message"></i>
                        <span key="t-chat">Chat</span>
                    </a>
                </li> -->
                    
                    
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="fas fa-dollar-sign"></i>
                            <span key="t-finance">Finance Reports</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'hall-sale-report' %} " key="t-finance">Event Sale </a></li>
                            <li><a href="{% url 'hall-expense-report' %} " key="t-finance">Event Expense </a></li>
                            <li><a href="{% url 'kitchen-sale-report' %} " key="t-finance">Kitchen Sale </a></li>
                            <li><a href="{% url 'kitchen-expense-report' %} " key="t-finance">Kitchen Expense </a></li>
                            <li><a href="{% url 'summaries' %} " key="t-finance">Summaries</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="dripicons-camcorder"></i>
                            <span key="t-events">Events</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'event-sale' %} " key="t-events">Event Sale</a></li>
                            <li><a href="{% url 'event-expense' %} " key="t-events">Event Expenses</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="dripicons-cutlery"></i>
                            <span key="t-events">Kitchen</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'kitchen-sale' %} " key="t-customers">Kitchen Sale</a></li>
                            <li><a href="{% url 'kitchen-expense' %} " key="t-customers">Kitchen Expense</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="dripicons-mail"></i>
                            <span key="t-email">General Expenses</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="{% url 'daily_expenses' %}" key="t-email-compose">Daily Expenses</a></li>
                            <li><a href="{% url 'other_expenses' %}" key="t-email-compose">Other Expenses</a></li>
                            <li><a href="{% url 'salaries' %}" key="t-email-compose">Salary Expenses</a></li>
                            <li><a href="{% url 'constraction_and_repairs' %}" key="t-inbox">Contraction</a></li>
                            <li><a href="{% url 'constraction_and_repairs' %}" key="t-read-email">Repairs</a></li>

                        </ul>
                    </li>


                <li>
                        <a href="javascript: void(0);" class="has-arrow waves-effect">
                            <i class="dripicons-cart"></i>
                            <span key="t-email">Store</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                        
                            <li>
                                
                                <li><a href="{% url 'ecommerce_product' %} " key="t-add-product">Kitchen Items</a></li>
                                <li><a href="{% url 'ecommerce_product' %} " key="t-products">Electricity Items</a></li>
                                <li><a href="{% url 'ecommerce_product' %} " key="t-product-detail">Hall Items</a></li>
                        </li>
                       
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="dripicons-shopping-bag"></i>
                        <span key="t-events">Products</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'ecommerce_add_product' %} " key="t-add-product">Add Product</a></li>
                        <li><a href="{% url 'ecommerce_add_category' %} " key="t-add-product">Add Category</a></li>
                        <li><a href="{% url 'ecommerce_add_brand' %} " key="t-add-product">Add Brand</a></li>
                        <li><a href="{% url 'ecommerce_add_unit' %} " key="t-add-product">Add Unit</a></li>
                        <li><a href="{% url 'ecommerce_add_inventory' %} " key="t-add-product">Add Inventory</a></li>

                        <li><a href="{% url 'ecommerce-product-list' %} " key="t-products">Products List</a></li>
                        <!-- <li><a href="{% url 'ecommerce_product_detail' %} " key="t-product-detail">ProductDetail</a></li> -->
                    </ul>

                    </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-camera-burst"></i>
                        <span key="t-email">Deals</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="{% url 'admin:index' %}">Create Deal</a></li>
                        <li><a href="{% url 'calculate_menu' %}">Custom Deal</a></li>
                        {% for d in deals %}
                        <li><a href="{% url 'deals-calculator' d.pk %}">{{ d.code }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>                                                                                                                                                                                                                                                                                                                                                                                                                  
        <!-- Sidebar -->
    </div>
</div>
<script>
    // Get all elements with the class "has-arrow"
    const hasArrowElements = document.querySelectorAll('.has-arrow');

    // Add click event listener to each "has-arrow" element
    hasArrowElements.forEach(element => {
        element.addEventListener('click', function () {
            // Find the sub-menu element of the clicked "has-arrow" element
            const subMenu = element.nextElementSibling;

            // Toggle the visibility of the sub-menu
            subMenu.classList.toggle('show');
        });
    });
</script>



<!-- Left Sidebar End -->
{% endblock sidebar %}