{% extends 'partials/primary_base.html' %}
{% load static %}

{% block title %}Invoice{% endblock title %}

{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Invoice</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Morvin</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Invoice</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success">Add Widget</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="invoice-title">
                                                    <h4 class="float-end font-size-16"><strong>Invoice {{sale.id}}</strong></h4>
                                                    <h3 class="m-t-0">
                                                        <img src="{% static 'images/black.png' %}" alt="logo" height="18"/>
                                                    </h3>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <address>
                                                            <strong>Customer Details:</strong><br>
                                                            Customer Name : <strong>{{sale.customer_name}}</strong><br>
                                                            Customer Number : <strong>{{sale.customer_number}}</strong><br>
                                                            Address : <br>
                                                        </address>
                                                    </div>
                                                    
                                                    <div class="col-6 text-end">
                                                        <address>
                                                            <strong>Event Details:</strong><br>
                                                            Day/Night : <strong>{{sale.event_timing}}</strong><br>
                                                            Booking Date : <strong> {{sale.booking_date}} </strong><br>
                                                            Event Date : <strong> {{sale.event_date}} </strong><br>
                                                            Setup: <strong>{{sale.setup}}</strong><br>

                                                        </address>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <address>
                                                            <strong>Event Details:</strong><br>
                                                            Number of People : <strong>{{sale.no_of_people}}</strong><br>
                                                            Charges per Head : <strong>{{sale.per_head}}</strong><br>
                                                        </address>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6 m-t-30">
                                                        <address>
                                                            <strong>Payment Details:</strong><br>
                                                            Payment Method: <br>
                                                            Payment Status: <strong> {{status}} </strong>
                                                        </address>
                                                    </div>
                                                    <div class="col-6 text-end">
                                                        <address>
                                                            <strong>Venue Details:</strong><br>
                                                            Hall/Lawn/Outside: <strong>{{sale.location}}</strong><br>
                                                            Gents: <strong>{{sale.gents}}</strong><br>
                                                            Ladies: <strong>{{sale.ladies}}</strong> <br>


                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="panel panel-default">
                                                    <div class="p-2">
                                                        <h3 class="panel-title font-size-20"><strong>Menu</strong></h3>
                                                    </div>
                                                        <div class="table-responsive">
                                                            <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <td class="text-center"><strong>Menu Items</strong></td>
                                                                
                                                                </tr>
                                                                </thead>
                                                                
                                                                <tbody>
                                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                                {% for item in food_menu %}
                                                                <tr class="text-center">
                                                                    <td>{{item}}</td>
                                                                    
                                                                </tr>
                                                                {% endfor %}
                                                                <tr>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line"></td>
                                                                    <td class="thick-line text-center">
                                                                        <strong>Subtotal</strong></td>
                                                                    <td class="thick-line text-end">&#8360; {{sub_total}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line text-center">
                                                                        <strong>Extra Charges</strong></td>
                                                                    <td class="no-line text-end">&#8360; {{extra}}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line"></td>
                                                                    <td class="no-line text-center">
                                                                        <strong>Grand Total</strong></td>
                                                                    <td class="no-line text-end"><h4 class="m-0">&#8360; {{sale.total_amount}}</h4></td>
                                                                </tr>


                                                                
                                                            
                                                                </tbody>
                                                            </table>
                                                            
                                                            
                                                            <br>
                                                            <div class="container">
                                                                <div class="row justify-content-end">
                                                                    <div class="col-6">
                                                                        <table class="table table-hover text-end">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td><strong>Cash Received</strong></td>
                                                                                    <td><h4 class="m-0">&#8360; {{sale.recieved_amount}}</h4></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td><strong>Balance Due</strong></td>
                                                                                    <td><h4 class="m-0">&#8360; {{sale.remaining_amount}}</h4></td>
                                                                                </tr>

                                                                                
                                                                            </tbody>
                                                                        </table>
                                                                        <span><strong>Note:</strong> Extra charges are added, When
                                                                            special or custom arrangements are
                                                                            requested. Extra Charges incudes (Stage charges, Couple Entry Charges and other special arrangements) </span>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                                                        
                                                        
                                                            
                                                           
                                                        
                                                        </div>
                                                        <div class="d-print-none mo-mt-2">
                                                            <div class="float-end">
                                                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a>
                                                                <a href="#" class="btn btn-primary waves-effect waves-light">Send</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row --> 
                    </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
{% endblock content %}