{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Invoice{% endblock title %}


{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Order Slip</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Invoice</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success">Add Widget</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="invoice-title">
                                                    <h4 class="float-end font-size-16"><strong>Order # {{sale.id}}</strong></h4>
                                                    <h3 class="m-t-0">
                                                        <img src="{% static 'images/black.png' %}" alt="logo" height="18" />
                                                    </h3>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <address>
                                                            <strong>Customer Details:</strong><br><br>
                                                            Customer Name : <strong>{{sale.customer_name}}</strong><br>
                                                            Customer Number : <strong>{{sale.customer_number}}</strong><br>
                                                            Gents : <strong> {{sale.gents}} </strong><br>
                                                            Ladies: <strong> {{sale.ladies}}</strong><br>
                                                        </address>
                                                    </div>
                                                    
                                                    <div class="col-6 text-end">
                                                        <address>
                                                            <strong>Event Details:</strong><br><br>
                                                            Event Timing: <strong>{{sale.event_timing}}</strong><br>
                                                            Event Date : <strong> {{sale.event_date}} </strong><br>
                                                            Setup : <strong>{{sale.setup}}</strong><br>
                                                            Location : <strong>{{sale.location}}</strong><br>
                                                            

                                                        </address>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="panel panel-default">
                                                    <div class="p-2">
                                                        <h3 class="panel-title font-size-20"><strong>Order Slip</strong></h3>
                                                    </div>
                                                    <div class="">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                <tr>
                                                                    <td class="text-center"><strong>Menu Items</strong></td>
                                                                    <td class="text-center"><strong>Quantity</strong>
                                                                    </td>
                                                                    <td class="text-end"><strong></strong></td>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                                {% for item, qty in menu.items %}
                                                                <tr>
                                                                    <td class="text-center">{{item}}</td>
                                                                    <td class="text-center">{{qty}}</td>
                                                                    <td class="text-end"></td>
                                                                </tr>
                                                               {% endfor %}
                                                               
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="d-print-none mo-mt-2">
                                                            <div class="float-end">
                                                               
                                                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i></a>
                                                                <a href="#" class="btn btn-primary waves-effect waves-light">Send</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end row -->
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row --> 
                    </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

              
{% endblock content %}