{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Salary Expenses{% endblock title %}


{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
  type="text/css" />

<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet"
  type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="page-title-box">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="page-title">
              <h4>Expenses</h4>
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Salary</a></li>
                <li class="breadcrumb-item active">List</li>
              </ol>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-end d-none d-sm-block">
              <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light"
                data-bs-toggle="modal" data-bs-target="#add-expense-model"><i class="mdi mdi-plus me-2"></i>Add
                Salary</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-end d-none d-sm-block">
              <!-- <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i>Add Sale</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div class="container-fluid">
      <div class="page-content-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              {% include 'partials/alerts.html' %}
              <div class="card-body">
                <div>
                  <!-- <a href="javascript:void(0);" class="btn btn-success mb-2" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i> Add Sale</a> -->
                </div>
                <ul class="nav nav-tabs nav-tabs-custom mb-4">
                  <li class="nav-item">
                    <a class="nav-link fw-bold p-3 active" href="#">All Salaries </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-3 fw-bold" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                  </li>
                </ul>
                <div class="table-responsive">
                  <table id="myDataTable" class="table table-centered datatable dt-responsive nowrap "
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead class="thead-light">
                      <tr>
                        
                        <th>ID</th>
                        <th>Employee Type</th>
                        <th>Details</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Expense By</th>

                        <th style="width: 120px;">Action</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for salary in salaries %}
                      <tr>
                        <

                        <td><a href="javascript: void(0);" class="text-dark fw-bold">{{salary.id}}</a> </td>
                        <td>
                          {{salary.employee_type}}
                        </td>
                        <td>{{salary.details}}</td>

                        <td>
                          {{salary.amount}}
                        </td>

                        <td>
                          {{salary.details}}
                        </td>

                        <td>
                          {{salary.expense_by}}
                        </td>
                        


                        <td id="tooltip-container1">
                          <div class="d-flex">
                            <a href="javascript:void(0);" class="btn-sm waves-effect waves-light" data-bs-toggle="modal"
                              data-bs-target="#salary{{ salary.id }}" class="me-3 text-primary"
                              data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Edit">
                              <i class="mdi mdi-pencil font-size-18" class="modal-title mt-0"
                                id="salary{{salary.id}}"></i>
                            </a>

                            <a href="{% url 'delete-salary' salary.id %}" class="text-danger"
                              data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top"
                              title="Delete">
                              <i class="mdi mdi-trash-can font-size-18"></i>
                            </a>
                          </div>
                        </td>

                      </tr>

       


                    <!-- Small modal For edit -->

                    <div class="modal fade" id="salary{{salary.id}}" tabindex="-1" role="dialog"
                      aria-labelledby="salary{{salary.id}}Title" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title mt-0" id="salary{{salary.id}}Title">Edit Daily Expense</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                          </div>

                          <div class="modal-body">
                            <form class="form" enctype="multipart/form-data"
                              action="{% url 'update-salary' salary.id %}" method="POST">
                              {% csrf_token %}


                              <!-- Form -->
                              <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Employee Type</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  <div class="input-group input-group-merge">
                                    <select class="js-select form-select" autocomplete="off" name="employee-type">

                                      <option value="{{salary.expense_type}}"> {{salary.employee_type}}</option>
                                      <option>Gaurds</option>
                                    <option>Marquee Staff</option>
                                    <option>Office Staff</option>
                                    </select>

                                  </div>
                                  <!-- End Input Group -->
                                </div>
                              </div>


                              <!-- End Form -->

                              <!-- Form -->
                              <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Details</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  <div class="input-group input-group-merge">
                                    <input type="text" class="js-toggle-password form-control" name="details"
                                      id="details" placeholder="expense Detials" aria-label="" value="{{salary.details}}">

                                  </div>
                                  <!-- End Input Group -->
                                </div>
                              </div>
                              <!-- End Form -->

                              <!-- Form -->
                              <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Amount</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  <div class="input-group input-group-merge">
                                    <input type="text" class="js-toggle-password form-control" name="amount"
                                      id="amount" placeholder="amount" aria-label="" value="{{salary.amount}}">

                                  </div>
                                  <!-- End Input Group -->
                                </div>
                              </div>
                              <!-- End Form -->

                             
                              
                              <!-- Form -->
                              <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Expense Date</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  {% with formatted_event_date=salary.on_date|date:"Y-m-d" %}
                                  <input type="date" class="js-toggle-password form-control" name="date"
                                    id="date" placeholder="Event Date" value="{{ formatted_event_date }}">
                                  {% endwith %}

                                </div>
                                <!-- End Input Group -->
                              </div>
                              <!-- End Form -->

                               <!-- Form -->
                               <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Amount</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  <div class="input-group input-group-merge">
                                    <input type="text" class="js-toggle-password form-control" name="amound"
                                      id="amount" placeholder="amount" aria-label="" value="{{salary.amount}}">

                                  </div>
                                  <!-- End Input Group -->
                                </div>
                              </div>
                              <!-- End Form -->
                              
                               <!-- Form -->
                               <div class="row mb-4">
                                <label for="" class="col-sm-3 col-form-label form-label">Expense By</label>

                                <div class="col-sm-9">
                                  <!-- Input Group -->
                                  <div class="input-group input-group-merge">
                                    <input type="text" class="js-toggle-password form-control" name="expense-by"
                                      id="expense_by" placeholder="expense_by" aria-label="" value="{{salary.expense_by}}">

                                  </div>
                                  <!-- End Input Group -->
                                </div>
                              </div>
                              <!-- End Form -->

                              <div class="modal-footer">
                                <button id="model-btn" type="button" class="btn btn-secondary"
                                  data-bs-dismiss="modal">Close</button>
                                <button id="save-btn" type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                            </form>

                          </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->

                      </div>
                    </div>

                    <!-- /.modal-dialog -->

                    {% endfor %}

                    </tbody>
                  </table>

                  <div class="modal fade" id="add-expense-model" tabindex="-1" role="dialog"
                    aria-labelledby="add-expense-modelTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title mt-0" id="add-expense-modelTitle">Add Expense</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                          </button>
                        </div>

                        <div class="modal-body">
                          <form class="form" enctype="multipart/form-data" action="{% url 'salaries' %}"
                            method="POST">
                            {% csrf_token %}


                           <!-- Form -->
                           <div class="row mb-4">
                            <label for="" class="col-sm-3 col-form-label form-label">Employee Type</label>

                            <div class="col-sm-9">
                              <!-- Input Group -->
                              <div class="input-group input-group-merge">
                                <select class="js-select form-select" autocomplete="off" name="employee-type">
                                  <option>Gaurds</option>
                                  <option>Marquee Staff</option>
                                  <option>Office Staff</option>
                                  
                                </select>

                              </div>
                              <!-- End Input Group -->
                            </div>
                          </div>


                          <!-- End Form -->

                          <!-- Form -->
                          <div class="row mb-4">
                            <label for="" class="col-sm-3 col-form-label form-label">Details</label>

                            <div class="col-sm-9">
                              <!-- Input Group -->
                              <div class="input-group input-group-merge">
                                <input type="text" class="js-toggle-password form-control" name="details"
                                  id="details" placeholder="expense Detials" aria-label="">

                              </div>
                              <!-- End Input Group -->
                            </div>
                          </div>
                          <!-- End Form -->

                          <!-- Form -->
                          <div class="row mb-4">
                            <label for="" class="col-sm-3 col-form-label form-label">Amount</label>

                            <div class="col-sm-9">
                              <!-- Input Group -->
                              <div class="input-group input-group-merge">
                                <input type="text" class="js-toggle-password form-control" name="amount"
                                  id="amount" placeholder="amount" aria-label="">

                              </div>
                              <!-- End Input Group -->
                            </div>
                          </div>
                          <!-- End Form -->

                         
                          <!-- Form -->
                        <div class="row mb-4">
                          <label for="" class="col-sm-3 col-form-label form-label">Expense Date</label>

                          <div class="col-sm-9">
                            <!-- Input Group -->
                            <input type="date" class="js-toggle-password form-control" name="date" id="date"
                              placeholder="date" aria-label="">

                          </div>
                          <!-- End Input Group -->
                        </div>
                        <!-- End Form -->

                           
                          
                           <!-- Form -->
                           <div class="row mb-4">
                            <label for="" class="col-sm-3 col-form-label form-label">Expense By</label>

                            <div class="col-sm-9">
                              <!-- Input Group -->
                              <div class="input-group input-group-merge">
                                <input type="text" class="js-toggle-password form-control" name="expense-by"
                                  id="expense_by" placeholder="expense_by" aria-label="">

                              </div>
                              <!-- End Input Group -->
                            </div>
                          </div>
                          <!-- End Form -->

                            <div class="modal-footer">
                              <button id="model-btn" type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">Close</button>
                              <button id="save-btn" type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                          </form>

                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->

                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- end row -->
          </div>
        </div> <!-- container-fluid -->
      </div>


      <!-- End Page-content -->


      {% endblock content %}

      {% block extra_javascript %}


      <!-- Required datatable js -->

      <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

      <!-- Responsive examples -->
      <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
      <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

      <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>

      {% endblock extra_javascript %}