{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock title %}


{% block extra_css %}
<!-- plugin css -->
<link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet"
    type="text/css" />

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>






<style>
    /* Increase the height of #statistics-charts on screens >= 1800px */
    @media (min-width: 1800px) {
        #statistics-charts {
            margin-top: 300px;
            height: 300px;
            /* Increase the height as needed */
        }

        .mt-33 {
            height: 260px;
            /* Increase the height as needed */
        }
    }
</style>
{% endblock extra_css %}

{% block content %}
<div class="main-content">
    <div class="page-content">
        <!-- start page title -->
        <div class="page-title-box">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="page-title">
                            <h4>Dashboard</h4>
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-end d-none d-sm-block">
                            <!-- <a href="" class="btn btn-success">Add Widget</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="container-fluid">
            <div class="page-content-wrapper">
                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            {% include 'partials/alerts.html' %}
                            <div class="card-body">
                                <h4 class="header-title mb-4 float-sm-start">Monthly Sales</h4>

                                <!-- <div class="float-sm-end">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Day</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Week</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Month</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#">Year</a>
                                        </li>
                                    </ul>
                                </div> -->
                                <div class="clearfix"></div>

                                <div class="row align-items-center">
                                    <div class="col-xl-9">
                                        <div class="card">
                                            <div class="card-body">

                                                <canvas id="salesChartMonthly"></canvas>
                                                
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-xl-3">
                                        <div class="dash-info-widget mt-4 mt-lg-0 py-4 px-3 rounded">
                                            <div class="media dash-main-border pb-2 mt-2">
                                                <div class="avatar-sm mb-3 mt-2">
                                                    <span class="avatar-title   ">
                                                        <i class="mdi mdi-cash-multiple text-success font-size-18"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body ps-3">
                                                    {% if user.is_superuser %}
                                                    <h4 class="font-size-20"><span class="text-success">&#8360;</span>
                                                        {{total_sales}}</h4>
                                                    {% else %}
                                                    <h4 class="font-size-20"><span class="text-success">&#8360;</span>
                                                        {{fifty_sale}}</h4>
                                                    {% endif %}
                                                    <p class="text-muted">
                                                        Sales <a href="{% url 'event-sale' %}"
                                                            class="text-success">Withdraw <i
                                                                class="mdi mdi-arrow-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="media mt-4 dash-main-border pb-2">
                                                <div class="avatar-sm mb-3 mt-2">
                                                    <span class="avatar-title">
                                                        <i
                                                            class="mdi mdi-credit-card-outline text-danger font-size-18"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body ps-3">
                                                    <h4 class="font-size-20"><span class="text-danger">&#8360;</span>
                                                        {{total_expense}}</h4>


                                                    <p class="text-muted">
                                                        Expenses <a href="{% url 'event-expense' %}"
                                                            class="text-danger">Pay <i
                                                                class="mdi mdi-arrow-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>

                                            <div class="media mt-4">
                                                <div class="avatar-sm mb-2 mt-2">
                                                    <span class="avatar-title ">
                                                        <i class="mdi mdi-eye-outline text-success font-size-18"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body ps-3">
                                                    {% if user.is_superuser %}

                                                    <h4 class="font-size-20"><span class="text-success">&#8360;</span>
                                                        {{revenue}}</h4>
                                                    {% else %}
                                                    <h4 class="font-size-20"><span class="text-success">&#8360;</span>
                                                        {{fifty_revenue}}</h4>
                                                    {% endif %}
                                                    <p class="text-muted mb-0">
                                                        Gross Revenue <a href="{% url 'event-sale' %}"
                                                            class="text-success">View <i
                                                                class="mdi mdi-arrow-right"></i></a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="font-size-16">Events This Month</p>
                                            <div class="mini-stat-icon mx-auto mb-4 mt-3">
                                                <span class="avatar-title rounded-circle bg-soft-primary">
                                                    <i class="mdi mdi-calendar-month text-primary font-size-20"></i>
                                                </span>
                                            </div>

                                            <p class="text-muted">
                                                {% if total_events_this_month %}
                                                {{total_events_this_month}} Target
                                                {% else %}
                                                0 Target
                                                {% endif %}

                                            </p>
                                            <div class="progress mt-3" style="height: 4px;">
                                                <div id="month-progressBar" class="progress-bar progress-bar bg-success"
                                                    role="progressbar" style="width: 80%;" aria-valuenow="80"
                                                    aria-valuemin="0" aria-valuemax="80"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <p class="font-size-16">Events This Year</p>
                                            <div class="mini-stat-icon mx-auto mb-4 mt-3">
                                                <span class="avatar-title rounded-circle bg-soft-success">
                                                    <i class="mdi mdi-finance text-success font-size-20"></i>
                                                </span>
                                            </div>

                                            <p class="text-muted">
                                                {% if total_events_this_year %}
                                                {{total_events_this_year}} Target
                                                {% else %}
                                                0 Target
                                                {% endif %}

                                            </p>
                                            <div class="progress mt-3" style="height: 4px;">
                                                <div id="yearly-progressBar"
                                                    class="progress-bar progress-bar bg-success" role="progressbar"
                                                    style="width: 80%;" aria-valuenow="80" aria-valuemin="0"
                                                    aria-valuemax="80"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h1 hidden id="total_events_this_year" data-my-variable="{{total_events_this_year}}"></h1>

                        <h1 hidden id="total_events_this_month" data-my-variable="{{total_events_this_month}}"></h1>




                        <!-- Bar chart -->
                        <script>
                            // Get the total_events_this_year value from the hidden element or another source
                            var totalEventsThisYear = parseInt(document.getElementById("total_events_this_year").getAttribute("data-my-variable"));

                            var total_events_this_month = parseInt(document.getElementById("total_events_this_month").getAttribute("data-my-variable"));

                            // Calculate the percentage
                            var yearly_percentage = totalEventsThisYear;
                            var montly_percentage = totalEventsThisYear;
                            // Set the style attribute of the progress bar
                            document.getElementById("yearly-progressBar").style.width = yearly_percentage + "%";
                            document.getElementById("month-progressBar").style.width = montly_percentage + "%";
                        </script>





                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Expense Stastics</h4>
                                <div class="media">
                                    <h4>&#8360; 14,235</h4>
                                    <div class="media-body ps-3">
                                        <div class="dropdown">
                                            <!-- <button class="btn btn-light btn-sm dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Today<i class="mdi mdi-chevron-down ms-1"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Yesterday</a>
                                                <a class="dropdown-item" href="#">Last Week</a>
                                                <a class="dropdown-item" href="#">Last Month</a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-33">

                                    <div id="stastics-chartss"></div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Upcoming Events</h4>
                                <ul class="list-unstyled activity-wid mb-0">
                                    {% if no_event == 0 %}
                                        <div id="no-event">
                                            <h4>No Event in Upcoming 6 Days</h4>
                                        </div>

                                    {% else %}    
                                    {% for event in upcoming_events %}
                                    <li class="activity-list">
                                        <div class="activity-icon avatar-sm">
                                            <span class="avatar-title bg-soft-success text-success rounded-circle">
                                                <i class="ti-user font-size-16"></i>
                                            </span>
                                        </div>
                                        <div class="media">
                                            <div class="me-3">
                                                <h5 class="font-size-15 mb-1">{{event.customer_name}}</h5>
                                                <p class="text-muted font-size-14 mb-0">{{event.location}}</p>
                                            </div>
                                            <div class="media-body">
                                                <div class="text-end d-none d-md-block">
                                                    <p class="text-muted font-size-13 mt-2 pt-1 mb-0"><i
                                                            class="mdi mdi-timer-outline font-size-15 text-primary"></i>
                                                        {{event.event_date}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Earning Goal</h4>
                                <div class="mt-2 text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mt-4 mt-sm-0">
                                                <div id="list-chart-1" class="apex-charts" dir="ltr"></div>
                                                <p class="text-muted mb-2 mt-2 pt-1">Total Earning:</p>
                                                <h5 class="font-size-18 mb-1">USD 13,545.65</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-6 dash-goal">
                                            <div class="mt-4 mt-sm-0">
                                                <div id="list-chart-2" class="apex-charts" dir="ltr"></div>

                                                <p class="text-muted mb-2 mt-2 pt-1">Earning Goal:</p>
                                                <h5 class="font-size-18 mb-1">USD 84,265.45</h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <h4 class="header-title mb-4">Expense Heads</h4>
                                        <div class="col-md-6 dash-goal" style="padding: 20px; ">
                                            <div class="mt-4 mt-sm-0">


                                                <canvas id="expense-heads"></canvas>
                                            </div>
                                        </div>
                                        <div class="col-md-6 dash-goal" style="padding: 30px;">
                                            <div class="mt-4 mt-sm-0">
                                                <div id="list-chart-3" class="apex-charts" dir="ltr"></div>

                                                <p class="text-muted mb-2 mt-2 pt-1">Earning Goal:</p>
                                                <h5 class="font-size-18 mb-1">USD 84,265.45</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <style>

                        #no-event {
                            height: 410px;
                            padding: 100px;
                           
                        }
                        #no-event h4{
                            color: rgb(115, 115, 115);
                          
                            text-align: center;
                           
                        }
                            /* Increase the height of #statistics-charts on screens >= 1800px */
                            @media (min-width: 1800px) {
                                #no-event {
                            height: 510px;
                            padding: 100px;
                           
                        }
                            
                        
                        }
                        
                        
                        /* Increase the height of #statistics-charts on screens >= 1800px */
                        @media (max-width: 1800px) {
                            #calendar{
                                width: 400px;
                                height: 430px;
                                
                           
                                /* Increase the height as needed */
                            }
                            .calender-card{
                                height: 470px;
                            }
                    
                    
                        
                        }
                            /* Increase the height of #statistics-charts on screens >= 1800px */
                            @media (min-width: 1800px) {
                            #calendar{
                                width: 650px;
                                padding: 30px;
                                /* Increase the height as needed */
                            }
                            
                        
                        }
                    </style>
                    <div class="col-xl-4">
                        <div class="card calender-card">
                            <div class="card-body">
                                <div id='calendar' ></div>
                                <!-- Other content here -->
                            </div>
                        </div>
                    </div>
                
                 
                </div>
                <div class="row">

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">Vendors List</h4>
                                <div class="table-responsive">
                                    <table class="table table-centered table-nowrap mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>ID</th>
                                                <th>Product</th>

                                                <th>Customer</th>
                                                <th>Price</th>
                                                <th>Invoice</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#2356</td>
                                                <td><img src="/static/images/product/img-7.png" width="42" class="me-3"
                                                        alt="" />Green Chair</td>
                                                <td>Kenneth Gittens</td>
                                                <td>$200.00</td>
                                                <td>42</td>
                                                <td><span
                                                        class="badge badge-pill badge-soft-primary font-size-13">Pending</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#2564</td>
                                                <td><img src="/static/images/product/img-8.png" width="42" class="me-3"
                                                        alt="" />Office Chair</td>
                                                <td>Alfred Gordon</td>
                                                <td>$242.00</td>
                                                <td>54</td>
                                                <td><span
                                                        class="badge badge-pill badge-soft-success font-size-13">Active</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#2125</td>
                                                <td><img src="/static/images/product/img-10.png" width="42" class="me-3"
                                                        alt="" />Gray Chair</td>
                                                <td>Keena Reyes</td>
                                                <td>$320.00</td>
                                                <td>65</td>
                                                <td><span
                                                        class="badge badge-pill badge-soft-success font-size-13">Active</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#8587</td>
                                                <td><img src="/static/images/product/img-11.png" width="42" class="me-3"
                                                        alt="" />Steel Chair</td>
                                                <td>Timothy Zuniga</td>
                                                <td>$342.00</td>
                                                <td>52</td>
                                                <td><span
                                                        class="badge badge-pill badge-soft-primary font-size-13">Pending</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>#2354</td>
                                                <td><img src="/static/images/product/img-12.png" width="42" class="me-3"
                                                        alt="" />Home Chair</td>
                                                <td>Joann Wiliams</td>
                                                <td>$320.00</td>
                                                <td>25</td>
                                                <td><span
                                                        class="badge badge-pill badge-soft-primary font-size-13">Pending</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end table-responsive -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 hidden id="sale" data-my-variable="{{sale}}"></h1>
        <!-- container-fluid -->
    </div>
</div>

<h1 hidden id="expense" data-my-variable="{{expense}}"></h1>



<script>

    var serializedEvents = JSON.parse('{{ serialized_events|safe }}');


</script>


<!-- End Page-content -->
{% endblock content %}
{% block extra_javascript %}
<!-- apexcharts -->

<!-- Plugins js-->
<script src="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>

 


<script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<!-- <script src="{% static 'js/pages/dashboard.init.js' %}"></script> -->
<script src="{% static 'libs/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/pages/chartjs.init.js' %}"></script>
<script src="{% static 'libs/chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'libs/chartist-plugin-tooltips-updated/dist/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'js/pages/chart.js' %}"></script>

<script src="{% static 'js/pages/dashboard.init.js' %}"></script>



<!-- Apex chart -->

<script>

    var serializedEvents = JSON.parse('{{ serialized_events|safe }}');

    console.log(serializedEvents)

    document.addEventListener('DOMContentLoaded', function() {

    var formattedEvents = serializedEvents.map(function (event) {
    return {
        title: event.fields.event_title,
        start: event.fields.start_date,

    };
    });

      var calendarEl = document.getElementById('calendar');
      
      var calendar = new FullCalendar.Calendar(calendarEl, {
        themeSystem: 'bootstrap',
        initialView: 'dayGridMonth',
        events: formattedEvents,
      });
      calendar.render();
    });

  </script>


<script>

    var montly_sale = document.getElementById("sale").getAttribute("data-my-variable");

    // // Parse the values as JSON arrays
    var totalSales = JSON.parse(montly_sale);

    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    const salesChartMonthlyCtx = document.getElementById('salesChartMonthly').getContext('2d');

    const expenseHeadsCtx = document.getElementById('expense-heads').getContext('2d');

    const salesChartMonthly = new Chart(salesChartMonthlyCtx, {
        type: 'bar',
        data: {
            labels: months,
            datasets: [{
                label: 'Monthly Sales',

                data: totalSales,
                backgroundColor: [

                    'rgba(51, 255, 189, 0.5)'
                ],
                borderColor: [

                    'rgba(0, 0, 0, 0.5)'
                ],
                borderWidth: 2

            }],
        },
    });

    const heads = ['Construction and repairs', 'Daily expenses', 'Other expenses', 'Salaries', 'Event expens'];
    const expenseHeads = new Chart(expenseHeadsCtx, {
        type: 'doughnut',
        data: {
            labels: heads,
            datasets: [{
                label: 'Monthly Expense',
                data: [10,20,50,90,200],
                backgroundColor: [

                    '#e2e8f0',
                    '#525CE9',
                    '#23c58f',


                ],
                hoverBackgroundColor: ['lightcoral', 'lightblue', 'lightgreen', 'lightyellow', 'mediumpurple'],
                innerRadius: 10, // Adjust the inner radius as needed
                outerRadius: 100, // Adjust the outer radius to 50 pixels
                borderWidth: 0
            }],
        },

    });








    var montly_expense = document.getElementById("expense").getAttribute("data-my-variable");

    var totalExpense = JSON.parse(montly_expense);

    console.log(totalExpense)

    // Create the chart options
    var options1 = {
        chart: { type: "area", sparkline: { enabled: true } },
        series: [{ data: totalExpense }],
        stroke: { curve: "smooth", width: 2 },
        colors: ["#525ce5"],
        tooltip: {
            fixed: { enabled: false },
            x: { show: false },
            y: {
                title: {
                    formatter: function (e) {
                        return "";
                    },
                },
            },
            marker: { show: false },
        },
    };

    // Function to set the chart height based on screen width
    function setChartHeight(chart) {
        var chartHeight = window.innerWidth >= 1800 ? 250 : 80;
        chart.updateOptions({
            chart: {
                height: chartHeight
            }
        });
    }

    // Create and render the chart
    var chart = new ApexCharts(document.querySelector("#stastics-chartss"), options1);

    chart.render();

    // Call the setChartHeight function initially
    setChartHeight(chart);

    // Update the chart height when the window is resized
    window.addEventListener('resize', function () {
        setChartHeight(chart);
    });


    var options2 = {
        chart: { type: "doughnut", sparkline: { enabled: true } },
        series: [{ data: totalExpense }],
        stroke: { curve: "smooth", width: 2 },
        colors: ["#525ce5"],
        tooltip: {
            fixed: { enabled: false },
            x: { show: false },
            y: {
                title: {
                    formatter: function (e) {
                        return "";
                    },
                },
            },
            marker: { show: false },
        },
    };


    // Create and render the chart
    var chart1 = new ApexCharts(document.querySelector("#expense-heads"), options2);
</script>


{% endblock extra_javascript %}