{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Add Product{% endblock title %}



{% block extra_css %}
<!-- twitter-bootstrap-wizard css -->
<link rel="stylesheet" href="{% static  'libs/twitter-bootstrap-wizard/prettify.css' %}">

<!-- select2 css -->
<link href="{% static  'libs/select2/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css" />

<!-- dropzone css -->
<link href="{% static  'libs/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}

{% block content %}
<div class="main-content">
  <div class="page-content">
    <!-- start page title -->
    <div class="page-title-box">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="page-title">
              <h4>Calculator</h4>
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                <li class="breadcrumb-item active">Calculator</li>
              </ol>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="float-end d-none d-sm-block">
              <a href="" class="btn btn-success">Add Widget</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end page title -->
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">

      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        {% include "partials/alerts.html" %}
        <div class="mdc-card">

          <form action="POST" id="pos-form">

            <fieldset>
              <legend>Add Products</legend>
              <div class="row align-items-end">

                <div class="col-lg-6 col-md-5 col-sm-12">
                  <div class="form-group mb-3">
                    <label for="product-id">Select Product</label>


                    <select multiple="multiple" id="product-id" type="search"
                      class="form-select form-select-sm select2">
                      <option value="" disabled selected></option>
                      {% for product in products %}
                      <option value="{{ product.pk }}">{{ product.product_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-lg-2 col-md-5 col-md-12">
                  <div class="form-group mb-3">
                    <label for="product-qty">Qty</label>
                    <input style="height: 38px;" type="number" class="form-control form-control-sm text-center"
                      step="any" id="product-qty" value="1">
                  </div>

                </div>
                <div class="col-lg-2 col-md-2 col-md-12">
                  <div class="form-group mb-3">
                    <button style="height: 38px;" class="btn btn-light btn-sm bg-gradient border  text-start"
                      type="button" id="add_item"><i class="mdi mdi-plus"></i> Add Item</button>
                  </div>
                </div>


              </div>
            </fieldset>
            <fieldset>

              <div class="d-flex w-100" id="POS-field">
                <style>
                  /* Add your custom styles here */
                  .bg-gradient {
                    /* Add your background gradient styles here */
                    background-color: rgb(239, 239, 239);
                    border-radius: 20px;
                  }

                  .table {
                    /* Add your table styles here */
                    border-collapse: collapse;
                    width: 100%;
                    border: 2px solid #000000;
                    border-radius: 10px;
                  }

                  th,
                  td {
                    /* Add your header and cell styles here */
                    padding: 8px;

                    border-bottom: 1px solid #ddd;
                  }

                  th {
                    background-color: #333;
                    color: rgb(10, 10, 10);
                    text-align: center;
                  }

                  tbody tr:nth-child(even) {
                    /* Add your alternate row styles here */
                    background-color: #f2f2f2;
                    text-align: center;
                  }

                  /* Add more custom styles as needed */
                </style>

                <div class="col-9 bg-gradient">
                  <table class="table" id="data-table">
                    <colgroup>
                      <col width="5%">
                      <col width="5%">
                      <col width="5%">
                      <col width="10%">
                      <col width="10%">
                    </colgroup>
                    <thead>
                      <tr class="bg-dark bg-gradient bg-opacity-50 text-light">
                        <th class="py-1 px-2">No</th>
                        <th class="py-1 px-2">QTY</th>
                        <th class="py-1 px-2">Product</th>
                        <th class="py-1 px-2">Price</th>
                        <th class="py-1 px-2">Total</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>






                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="card-body calc">

                        <form action="#">
                          <div class="mb-4">
                            <label class="form-label">Sub Total</label>
                            <div class="input-group " id="subtotal">
                              <input type="number" class="form-control " name="sub_total" value="0">

                              <span class="input-group-text" id="sub_total">0.00</span>
                            </div><!-- input-group -->
                          </div>
                          <div class="mb-4">
                            <label class="form-label">Number of Peoplee</label>
                            <div class="input-group">
                              <input type="number" class="form-control" id="no-of-people" min="0" name="tax" value="1">
                              <span class="input-group-text">0</span>
                            </div><!-- input-group -->
                          </div>
                          <div class="mb-4">
                            <label class="form-label">Hall Charges</label>
                            <div class="input-group">
                              <input type="number" class="form-control" id="hall-charges" step="any" name="hall"
                                value="0">
                              <span class="input-group-text">0</span>
                            </div><!-- input-group -->
                          </div>
                          <div class="mb-4">
                            <label class="form-label">Menu/head</label>
                            <div class="input-group">
                              <input type="number" class="form-control" id="per-head" name="tax_amount" value="0">
                              <span class="input-group-text" id="tax_amount">0.00</span>
                            </div><!-- input-group -->
                          </div>
                          <div class="mb-4">
                            <label class="form-label">Grand Total</label>
                            <input type="hidden" name="grand_total" value="0">
                            <input type="hidden" name="tendered_amount" value="0">
                            <input type="hidden" name="amount_change" value="0">
                            <input type="hidden" name="grand_total" value="0">
                            <input type="hidden" name="grand_total" value="0">
                            <div class="input-group" id="datepicker3">
                              <input type="text" class="form-control" data-date-container='#datepicker3'
                                data-date-format="dd M, yyyy" data-date-multidate="true">
                              <span class="input-group-text" id="grand_total">0.00</span>
                            </div><!-- input-group -->
                          </div>

                          <div class="row row-cols-4">
                            <div class="col-md-1 text-end">
                              <!-- <button class="btn btn-primary btn-sm " type="button" id="check_out"> Checkout</button> -->
                              <a href="#" class="btn btn-primary btn-sm " data-bs-toggle="#"
                                data-bs-target="#exampleModalScrollable" data-bs-container="#tooltip-container1"
                                data-bs-toggle="tooltip" data-bs-placement="top" onclick="populateNumOfPeople()"> Save
                              </a>

                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>

                </div>
            </fieldset>

          </form>

          <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <!-- <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Add Sale</h5> -->
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">

                  <form class="form" id="sale-form" enctype="multipart/form-data" action="{% url 'custom-menu' %}"
                    method="POST">
                    {% csrf_token %}


                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Status</label>


                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <select class="js-select form-select" autocomplete="off" name="status">


                            <option>Tentative</option>
                            <option>Confirm</option>

                          </select>

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Event timing</label>


                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <select class="js-select form-select" autocomplete="off" name="event-time">

                            <option>Day</option>
                            <option>Night</option>

                          </select>

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->
                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Event Date</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <input type="date" class="js-toggle-password form-control" name="event-date" id=""
                          placeholder="StartRow" aria-label="">

                      </div>
                      <!-- End Input Group -->
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Number of people</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <input type="number" class="js-toggle-password form-control" name="no-of-people"
                          placeholder="Number of people" aria-label="">
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->
                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Location</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <select class="js-select form-select" autocomplete="off" name="location">


                            <option>Hall</option>
                            <option>Lawn</option>

                          </select>

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Setup</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <select class="js-select form-select" autocomplete="off" name="setup">


                            <option>Normal</option>
                            <option>Delux</option>
                            <option>VIP</option>

                          </select>

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>

                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Deals</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">




                          <input type="text" class="form-control" autocomplete="off" value="Custom Deal" readonly>

                          <input type="hidden" class="form-control" autocomplete="off" name="deals" value="Custom Deal">

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Customer name</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <input type="text" class="js-toggle-password form-control" name="customer-name" id=""
                          placeholder="Customer name" aria-label="">
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->


                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Customer number</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="customer-number" id=""
                            placeholder="Customer number" aria-label="">

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->


                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Menu Amount</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <input type="text" class="js-toggle-password form-control" name="menu-amount" id="menu-amount"
                          placeholder="Menu Amount" aria-label="">
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Per head</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="per-head" id=""
                            placeholder="Per head" aria-label="">

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->


                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Extra Charges</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="extra-charges" id=""
                            placeholder="Extra Charges" aria-label="">
                        </div>

                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Stage Charges</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="stage-charges" id=""
                            placeholder="Stage Charges" aria-label="" value="0">
                        </div>

                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Couple Entry Charges</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="entry-charges" id=""
                            placeholder="Entry Charges" aria-label="" value="0">
                        </div>

                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Gents</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="gents" id=""
                            placeholder="Number of Gents" aria-label="" value="0">
                        </div>

                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Ladies</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="ladies" id=""
                            placeholder="Number of ladies" aria-label="" value="0">
                        </div>

                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="" class="col-sm-3 col-form-label form-label">Food menu</label>
                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">
                          <input type="text" class="js-toggle-password form-control" id="menuDisplay" aria-label=""
                            readonly>
                          <input type="hidden" class="js-toggle-password form-control" name="food-menu" id="menuInput"
                            aria-label="">
                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>


                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Details</label>

                      <div class="col-sm-9">
                        <!-- Input Group -->
                        <div class="input-group input-group-merge">

                          <textarea class="form-select" name="details" id="" cols="90" rows="5"></textarea>

                        </div>
                        <!-- End Input Group -->
                      </div>
                    </div>
                    <!-- End Form -->

                    <!-- Form -->
                    <div class="row mb-4">
                      <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Received
                        amount</label>

                      <div class="col-sm-9">
                        <!-- Checkbox Switch -->
                        <div class="input-group input-group-merge">
                          <input type="number" class="js-toggle-password form-control" name="received-amount" id=""
                            placeholder="Received amount" aria-label="">
                        </div>
                        <!-- End Checkbox Switch -->
                        <!-- End Input Group -->
                      </div>
                    </div>

                    <!-- End Form -->
                    <div class="modal-footer">
                      <button id="model-btn1" type="button" class="btn" data-bs-dismiss="modal">Close</button>
                      <button id="model-btn2" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                  </form>
                </div>

              

              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div>
      </div>
      <noscript id="item-clone">

        <tr>
          <td class="px-2 py-1 text-center">
            <button class="btn btn-sm btn-outline-danger rounded-0 rem-item" type="button"><i
                class="mdi mdi-close"></i></button>
          </td>
          <td class="px-2 py-1">
            <input type="hidden" name="product_id[]">
            <input type="hidden" name="price[]">
            <input type="number" name="qty[]" min="0"
              class="form-control item-qty form-control-sm rounded-0 text-center">
          </td>
          <td class="px-2 py-1 product_name text-start"></td>
          <td class="px-2 py-1 product_price text-end"></td>
          <td class="px-2 py-1 product_total text-end"></td>
        </tr>
      </noscript>

      {% endblock content %}
      {% block extra_javascript %}
      <script>
        var product_json = '{{ myproducts }}'

        if (product_json == "" || product_json == "{}") {
          product_json = {}
        } else {
          product_json = product_json.replaceAll('&quot;', '"')
          product_json = $.parseJSON(product_json)
        }
        var prod_arr = {}
        if (Object.keys(product_json).length > 0) {
          Object.keys(product_json).map(k => {
            prod_arr[product_json[k].id] = product_json[k]
          })
        }

        function calc() {
          var sub_total = 0;
          var grand_total = 0;
          $('#POS-field table tbody tr').each(function () {
            price = $(this).find('[name="price[]"]').val()
            qty = $(this).find('[name="qty[]"]').val()
            qty = qty > 0 ? qty : 0
            total = parseFloat(price) * parseFloat(qty)
            $(this).find('.product_total').text(parseFloat(total).toLocaleString('en-US'))
            sub_total += parseFloat(total)
          })
          tax2 = $('[name="tax"]').val()
          hall = $('[name="hall"]').val()

          tax = sub_total / tax2;
          var hall = parseFloat(hall);
          var perhead_charges = (tax + hall);
          var total = tax2 * perhead_charges;

          var tax_amount2 = parseFloat(tax);

          $('#tax_amount').text(parseFloat(tax_amount2))
          $('[name="tax_amount"]').val(parseFloat(tax_amount2))
          $('#grand_total').text(parseFloat(tax2 * perhead_charges).toLocaleString('en-US'))
          $('[name="grand_total"]').val(parseFloat(tax2 * perhead_charges))
          $('#sub_total').text(parseFloat(sub_total).toLocaleString('en-US'))
          $('[name="sub_total"]').val(parseFloat(sub_total))


        }
        $(function () {
          $('#product-id').select2({
            theme: "classic",
            width: '100%',

          })

         

          $(document).ready(function () {


            var productData = JSON.parse('{{ product_json|escapejs }}');
            
            console.log(productData);

            var qty = 1; // You can set the default quantity here

            for (var product in productData) {
              var productInfo = productData[product];
              console.log(productInfo);

              // Create a new row for each product
              var tr = $($('noscript#item-clone').html()).clone();
              tr.find('[name="qty[]"]').val(productInfo.quantity);
              tr.find('[name="product_id[]"]').val(product);
              tr.find('[name="price[]"]').val(productInfo.price);
              tr.find('.product_name').text(productInfo.name);
              tr.find('.product_price').text(parseFloat(productInfo.price).toLocaleString('en-US'));
              tr.find('.product_total').text(parseFloat(productInfo.price * qty).toLocaleString('en-US'));

              // Add the row to the table
              $('#POS-field table tbody').append(tr);
              calc(); // Update calculations

              tr.find('[name="qty[]"]').on('input keypress keyup keydown', function () {
                calc();
              });

              tr.find('.rem-item').click(function () {
                if (confirm("Are you sure to remove " + productInfo.name + " product from the list?")) {
                  tr.remove();
                  calc(); // Update calculations
                }
              });
            }
          });







          $('#add_item').click(function () {
            var id = $('#product-id').val()
            var qty = $('#product-qty').val()
            console.log(id, qty)
            if (id == '' || qty == '' || id == null || qty == null) {
              alert("Product and Quantity Field is required!")
              return false
            }
            if (!!prod_arr[id]) {
              if ($('#POS-field table tbody input[name="product_id[]"][value="' + id + '"]').length > 0) {
                alert('Item Already in the List.')
                return false;
              }
              data = prod_arr[id]
              var tr = $($('noscript#item-clone').html()).clone()
              tr.find('[name="qty[]"]').val(qty)
              tr.find('[name="product_id[]"]').val(id)
              tr.find('[name="price[]"]').val(data.price)
              tr.find('.product_name').text(data.name)
              tr.find('.product_price').text(parseFloat(data.price).toLocaleString('en-US'))
              tr.find('.product_total').text(parseFloat(data.price * qty).toLocaleString('en-US'))
              $('#POS-field table tbody').append(tr)
              $('#product-id').val('').trigger('change')
              $('#product-qty').val(1)
              calc()
              tr.find('[name="qty[]"]').on('input keypress keyup keydown', function () {
                calc()
              })
              tr.find('.rem-item').click(function () {
                if (confirm("Are you sure to remove " + data.name + " product form list?") == true) {
                  tr.remove()
                  calc()
                }
              })
            } else {
              alert("Undefined Product");
            }
          });




          $('[name="tax"]').on('input keypress keydown keyup', function () {
            calc()
          })

          $('[id="hall-charges"]').on('input keypress keydown keyup', function () {
            calc()
          })
        })

        function populateNumOfPeople() {
          // Get the value from the "Number of People" input in the first form
          const numberOfPeopleInput = document.getElementById('no-of-people');
          const numOfPeopleValue = numberOfPeopleInput.value;

          // Set the value in the "Number of people" input field in the second form
          const numOfPeopleInputForm2 = document.querySelector('form#sale-form [name="no-of-people"]');
          numOfPeopleInputForm2.value = numOfPeopleValue;

          // Get values from the first form
          const hallChargesInput = document.getElementById('hall-charges');
          const menuPerHeadInput = document.getElementById('per-head');


          // Get the value of the sub_total input in Form 1
          const subTotalInput = document.querySelector('input[name="sub_total"]');
          const subTotalValue = subTotalInput.value;

          // Set the value of the menu-amount input in Form 2
          const menuAmountInput = document.querySelector('input[name="menu-amount"]');
          menuAmountInput.value = subTotalValue;


          // Calculate per head value
          const perHeadValue = parseFloat(hallChargesInput.value) + parseFloat(menuPerHeadInput.value);

          // Set values in the second form
          const perHeadInputForm2 = document.querySelector('form#sale-form [name="per-head"]');
          numOfPeopleInputForm2.value = numberOfPeopleInput.value;
          perHeadInputForm2.value = Math.round(perHeadValue);

          var menu = "";

          // Iterate through table rows
          $('#data-table tbody tr').each(function (index, row) {
            var qty = $(row).find('.item-qty').val();
            var productName = $(row).find('.product_name').text();

            // Append product name and quantity to the menu string
            menu += `${productName} (${qty}), `;
          });

          // Set the menu string to the input fields in Form 2
          $('#menuDisplay').val(menu);
          $('#menuInput').val(menu);

        }
      </script>
      <!-- twitter-bootstrap-wizard js -->
      <script src="{% static  'libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js' %}"></script>

      <script src="{% static  'libs/twitter-bootstrap-wizard/prettify.js' %}"></script>

      <!-- select 2 plugin -->
      <script src="{% static  'libs/select2/dist/js/select2.min.js' %}"></script>

      <!-- dropzone plugin -->
      <script src="{% static  'libs/dropzone/dist/min/dropzone.min.js' %}"></script>

      <!-- init js -->
      <script src="{% static  'js/pages/ecommerce-add-product.init.js' %}"></script>
      {% endblock extra_javascript %}