{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Orders{% endblock title %}

{% block extra_css %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Responsive datatable examples -->
     <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
    
{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Orders</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i>Add Sale</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <a href="javascript:void(0);" class="btn btn-success mb-2" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i> Add Sale</a>
                                        </div>
                                        <ul class="nav nav-tabs nav-tabs-custom mb-4">
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold p-3 active" href="#">All Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                                            </li>
                                        </ul>
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck" onchange="checkAll(this)" name="chk[]">
                                                                <label class="form-check-label" for="ordercheck">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Bill ID</th>
                                                        <th>Date</th>
                                                        <th>Billing Name</th>
                                                        <th>Total</th>
                                                        <th>Payment Status</th>
                                                        <th>Invoice</th>
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for sale in sales %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck1">
                                                                <label class="form-check-label" for="ordercheck1">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">{{sale.bill_no}}</a> </td>
                                                        <td>
                                                            {{sale.event_date}}
                                                        </td>
                                                        <td>{{sale.customer_name}}</td>
                                                        
                                                        <td>
                                                            {{sale.total_amount}}
                                                        </td>
                                                       
                                                 
                                                        
                                                      
                                                        <td>
                                                            <button class="btn btn-light btn-rounded">Invoice <i class="mdi mdi-download ml-2"></i></button>
                                                        </td>
                                                        <td id="tooltip-container1">
                                                            <a href="javascript:void(0);" class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                            <a href="javascript:void(0);" class="text-danger" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="mdi mdi-trash-can font-size-18"></i></a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                               
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <tr>
                            <td>
                                <!-- Small modal -->
                              
                                <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Add Sale</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                                <form class="form" enctype="multipart/form-data" action="" method="POST">


                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill no</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                        
                                        
                                                        <div class="input-group input-group-merge">
                                                          <input type="text" class="js-toggle-password form-control" name="bill-no" id=""
                                                            placeholder="Bill no" aria-label="">
                                        
                                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Serial:</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="text" class="js-toggle-password form-control" name="serial-no" id="" placeholder="Sr"
                                                            aria-label="">
                                        
                                                        </div>
                                        
                                                        </select>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Status</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="status">
                                                            <option>Status</option>
                                        
                                                            <option>Tentative</option>
                                                            <option>Confirm</option>
                                        
                                        
                                        
                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Event timing</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="event-timing">
                                        
                                        
                                                            <option>Day</option>
                                                            <option>Night</option>
                                        
                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Event Date</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="date" class="js-toggle-password form-control" name="event-date" id="" placeholder="StartRow"
                                                          aria-label="">
                                        
                                                      </div>
                                                      <!-- End Input Group -->
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Number of people</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="no-of-people" id=""
                                                          placeholder="Number of people" aria-label="">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Setup</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="setup">
                                        
                                        
                                                            <option>Normal</option>
                                                            <option>Delux</option>
                                                            <option>VIP</option>
                                        
                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Customer name</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="text" class="js-toggle-password form-control" name="customer-name" id=""
                                                          placeholder="Customer name" aria-label="">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Customer number</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="customer-number" id=""
                                                            placeholder="Customer number" aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Per head</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="per-head" id=""
                                                            placeholder="Per head" aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Extra Charges</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="extra-charges" id=""
                                                            placeholder="Extra Charges" aria-label="">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Food menu</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="text" class="js-toggle-password form-control" name="food-menu" id=""
                                                            placeholder="Food menu" aria-label="">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Details</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                        
                                                          <textarea class="form-select" name="details" id="" cols="90" rows="5" ></textarea>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Received amount</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Checkbox Switch -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="received-amount" id=""
                                                              placeholder="Received amount" aria-label="">
                                                          </div>
                                                        <!-- End Checkbox Switch -->
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                 
                                                    <!-- End Form -->
                                                  </form>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button  id="model-btn1" type="button" class="btn  " data-bs-dismiss="modal">Close</button>
                                                <button id="model-btn2" type="button" class="btn btn-primary ">Save changes</button>
                                                </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                            </td>
                        </tr>
                      
                        <!-- end row -->
                    </div>
                </div> <!-- container-fluid -->
            </div>
          
         
            <!-- End Page-content -->
{% endblock content %}

{% block extra_javascript %}
    <!-- Required datatable js -->
  
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>

 
{% endblock extra_javascript %}