{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Orders{% endblock title %}


{% block extra_css %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Responsive datatable examples -->
     <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
    
{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Orders</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <!-- <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i>Add Sale</a> -->
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                            <!-- <a href="javascript:void(0);" class="btn btn-success mb-2" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><i class="mdi mdi-plus me-2"></i> Add Sale</a> -->
                                        </div>
                                        <ul class="nav nav-tabs nav-tabs-custom mb-4">
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold p-3 active" href="#">All Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                                            </li>
                                        </ul>
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck" onchange="checkAll(this)" name="chk[]">
                                                                <label class="form-check-label" for="ordercheck">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Bill ID</th>
                                                        <th>Date</th>
                                                        <th>Billing Name</th>
                                                        <th>Total Amount</th>
                                                        <th>Received Amount</th>
                                                        <th>Remaining Amount</th>
                                                        <th>Payment Status</th>
                                                        <th>Invoice</th>
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for sale in sales %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck1">
                                                                <label class="form-check-label" for="ordercheck1">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">{{sale.bill_no}}</a> </td>
                                                        <td>
                                                            {{sale.event_date}}
                                                        </td>
                                                        <td>{{sale.customer_name}}</td>
                                                        
                                                        <td>
                                                            {{sale.total_amount}}
                                                        </td>
                                                        <td>
                                                          {{sale.recieved_amount}}
                                                        </td>
                                                          <td>
                                                            {{sale.remaining_amount}}
                                                          </td>
                                                       
                                                        {% if not sale.remaining_amount == 0%}
                                                        <td>
                                                            <div class="badge badge-soft-warning font-size-12">unpaid</div>
                                                        </td>
                                                        {% elif sale.recieved_amount == 0 and sale.remaining_amount != 0 %} 
                                                        <td>
                                                            <div class="badge badge-soft-danger font-size-12">Remaining</div>
                                                        </td>
                                                        {% else %}
                                                        <td>
                                                            <div class="badge badge-soft-success font-size-12">Paid</div>
                                                        </td>
                                                        {% endif %}
                                                        
                                                      
                                                        <td>
                                                            <a href="{% url 'sale-invoice' sale.id %}" class="btn btn-light btn-rounded">Invoice <i class="mdi mdi-download ml-2"></i></a>
                                                        </td>
                                                        <td id="tooltip-container1">
                                                          <div class="d-flex">
                                                            <a href="javascript:void(0);"  class="btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#sale{{ sale.id }}"  class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                              <i class="mdi mdi-pencil font-size-18" class="modal-title mt-0" id="sale{{sale.id}}"></i>
                                                            </a>
                
                                                              <a href="#" class="text-danger" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                                <i class="mdi mdi-trash-can font-size-18"></i>
                                                              </a>

                                                              <a href="{% url 'order-slip' sale.id %}" class="text-success" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Order Slip">
                                                                <i class="mdi mdi-alpha-s-box font-size-18"></i>
                                                              </a>
                                                            
                                                          </div>
                                                        </td>
                                                        
                                                    </tr>
                                               
                                                </tbody>
                                                <!-- Small modal -->
                                <div class="modal fade" id="sale{{ sale.id }}" tabindex="-1" role="dialog" aria-labelledby="sale{{sale.id}}" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title mt-0" id="exampleModalScrollableTitle">Edit Record</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                
                                      <div class="modal-body">
                                      
                                        <form class="form" id="sale-form" enctype="multipart/form-data" action="{% url 'update-event-sale' sale.id %}" method="POST">
                                          {% csrf_token %}

                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill no</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                        
                                        
                                                        <div class="input-group input-group-merge">
                                                          <input type="text" class="js-toggle-password form-control" name="bill-no" id=""
                                                            placeholder="Bill no" aria-label="" value="{{sale.bill_no}}">
                                        
                                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Serial:</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="text" class="js-toggle-password form-control" name="serial-no" id="" placeholder="Sr"
                                                            aria-label="" value="{{sale.sr}}">
                                        
                                                        </div>
                                        
                                                        </select>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Status</label>
                                        
                                                   
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="status">
                                        
                                                            <option value="{{sale.status}}">{{sale.status}}</option>
                                                            <option>Tentative</option>
                                                            <option>Confirm</option>
                                        
                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Event timing</label>
                                        
                                                   
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="event-time">
                                                            <option value="{{sale.event_timing}}">{{ sale.event_timing}}</option>
                                                            <option>Day</option>
                                                            <option>Night</option>

                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Event Date</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        {% with formatted_event_date=sale.event_date|date:"Y-m-d" %}
                                                            <input type="date" class="js-toggle-password form-control" name="event-date" id="event-date" placeholder="Event Date" value="{{ formatted_event_date }}">
                                                        {% endwith %}
                                        
                                                      </div>
                                                      <!-- End Input Group -->
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Number of people</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="no-of-people" id=""
                                                          placeholder="Number of people" aria-label="" value="{{sale.no_of_people}}">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Setup</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="setup">
                                        
                                                            <option value="{{sale.setup}}"> {{sale.setup}}</option>
                                                            <option>Normal</option>
                                                            <option>Delux</option>
                                                            <option>VIP</option>
                                        
                                                          </select>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>

                                                    
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Customer name</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="text" class="js-toggle-password form-control" name="customer-name" id=""
                                                          placeholder="Customer name" aria-label="" value="{{sale.customer_name}}">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Customer number</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="customer-number" id=""
                                                            placeholder="Customer number" aria-label="" value="{{sale.customer_number}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Per head</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="per-head" id=""
                                                            placeholder="Per head" aria-label=""  value="{{sale.per_head}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Extra Charges</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="extra-charges" id=""
                                                            placeholder="Extra Charges" aria-label="" value="{{sale.extra_charges}}">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    
                                                     <!-- Form -->
                                                     <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Stage Charges</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="stage-charges" id=""
                                                            placeholder="Extra Charges" aria-label="" value="{{sale.stage_charges}}">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->

                                                     <!-- Form -->
                                                     <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Entry Charges</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="entry-charges" id=""
                                                            placeholder="Extra Charges" aria-label="" value="{{sale.entry_charges}}">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->

                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Food menu</label>
                                        
                                                      <div class="col-sm-9">
                                                       
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <a href="{% url 'calculate_menu' %}"  class="btn-sm waves-effect waves-light"  data-bs-target="#sale{{ sale.id }}"  class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                            <i class="mdi mdi-pencil font-size-18" class="modal-title mt-0" id="sale{{sale.id}}"></i>
                                                          </a>
                                                          <input type="text" class="js-toggle-password form-control" name="food-menu" id=""
                                                            placeholder="Food menu" aria-label="" value="{{sale.food_menu}}">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Details</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                        
                                                          <textarea class="form-select" name="details" id="" cols="90" rows="5" >{{sale.details}}</textarea>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Received amount</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Checkbox Switch -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="received-amount" id=""
                                                              placeholder="Received amount" aria-label="" value="0">
                                                          </div>
                                                        <!-- End Checkbox Switch -->
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                 
                                                    <!-- End Form -->
                                                    <div class="modal-footer">
                                                      <button id="model-btn1" type="button" class="btn" data-bs-dismiss="modal">Close</button>
                                                      <button id="model-btn2" type="submit" class="btn btn-primary" >Save changes</button>
                                                    </div>
                                                  </form>
                                            </div>
                                            
                                        
                                     
                                        </div>
                                      </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->

                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <tr>
                            <td>
                                
                                  </div>
                            </td>
                        </tr>
                      
                        <!-- end row -->
                    </div>
                </div> <!-- container-fluid -->
            </div>
          
         
            <!-- End Page-content -->


{% endblock content %}

{% block extra_javascript %}


    <!-- Required datatable js -->
  
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>

    <script>
      function saveChanges() {
        // Get form values
        var form = document.getElementById('sale-form');
        var billNo = form.elements['bill-no'].value;
        var serialNo = form.elements['serial-no'].value;
        var status = form.elements['status'].value;
        var eventTiming = form.elements['event-timing'].value;
        var eventDate = form.elements['event-date'].value;
        var numberOfPeople = form.elements['no-of-people'].value;
        var setup = form.elements['setup'].value;
        var deals = form.elements['deals'].value;
        var customerName = form.elements['customer-name'].value;
        var customerNumber = form.elements['customer-number'].value;
        var perHead = form.elements['per-head'].value;
        var extraCharges = form.elements['extra-charges'].value;
        var foodMenu = form.elements['food-menu'].value;
        var details = form.elements['details'].value;
        var receivedAmount = form.elements['received-amount'].value;
      
        // Construct URL with query parameters
        var url = "{% url 'calculate_menu' %}?" +
          "billNo=" + encodeURIComponent(billNo) +
          "&serialNo=" + encodeURIComponent(serialNo) +
          "&status=" + encodeURIComponent(status) +
          "&eventTiming=" + encodeURIComponent(eventTiming) +
          "&eventDate=" + encodeURIComponent(eventDate) +
          "&numberOfPeople=" + encodeURIComponent(numberOfPeople) +
          "&setup=" + encodeURIComponent(setup) +
          "&deals=" + encodeURIComponent(deals) +
          "&customerName=" + encodeURIComponent(customerName) +
          "&customerNumber=" + encodeURIComponent(customerNumber) +
          "&perHead=" + encodeURIComponent(perHead) +
          "&extraCharges=" + encodeURIComponent(extraCharges) +
          "&foodMenu=" + encodeURIComponent(foodMenu) +
          "&details=" + encodeURIComponent(details) +
          "&receivedAmount=" + encodeURIComponent(receivedAmount);
      
        // Redirect to the constructed URL
        window.location.href = url;
      }
      
      
       
      
    </script>
    
 
{% endblock extra_javascript %}