{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Orders{% endblock title %}

{% block extra_css %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Responsive datatable examples -->
     <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
    
{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Orders</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                                        <li class="breadcrumb-item active">Orders</li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#add-expense-model"><i class="mdi mdi-plus me-2"></i>Add Expense</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <div>
                                            <a href="javascript:void(0);" class="btn btn-success mb-2" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#add-expense-model"><i class="mdi mdi-plus me-2"></i> Add Expense</a>
                                        </div> -->
                                        <ul class="nav nav-tabs nav-tabs-custom mb-4">
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold p-3 active" href="#">All Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                                            </li>
                                        </ul>
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="thead-light">
                                                    <tr>
                                                        <th style="width: 20px;">
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck" onchange="checkAll(this)" name="chk[]">
                                                                <label class="form-check-label" for="ordercheck">&nbsp;</label>
                                                            </div>
                                                        </th>
                                                        <th>Bill ID</th>
                                                        <th>Pakwan Bill</th>
                                                        <th>Diesel LTR</th>
                                                        <th>Electicity Bill</th>
                                                        <th>Naan Bill</th>
                                                        <th>Water Bill</th>
                                                        <th>Cold Drinks</th>
                                                        <th>Dhobi</th>
                                                        <th>Other Expenses</th>
                                                        <th>Waiters</th>
                                                        <th>BBQ</th>
                                                        <th>Stuff</th>
                                                        <th>Setup</th>
                                                        <th>Decor</th>
                                                        <th>Total Expenses</th>
                                                        <!-- <th>Invoice</th> -->
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for expense in expenses %}
                                                    <tr>
                                                        <td>
                                                            <div class="form-check">
                                                                <input type="checkbox" class="form-check-input" id="ordercheck1">
                                                                <label class="form-check-label" for="ordercheck1">&nbsp;</label>
                                                            </div>
                                                        </td>
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">{{expense.bill}}</a> </td>
                                                        <td>
                                                            {{expense.pakwan_bill}}
                                                        </td>
                                                        <td>{{expense.diesel_ltr}}</td>
                                                        
                                                        <td>
                                                            {{expense.electicity}}
                                                        </td>
                                                      
                                                         <td>
                                                            {{expense.naan_bill}}
                                                        </td>
                                                         <td>
                                                            {{expense.water_bill}}
                                                        </td> 
                                                        <td>
                                                            {{expense.cold_drink_bill}}
                                                        </td> 
                                                        <td>
                                                            {{expense.dhobi}}
                                                        </td> 
                                                        <td>
                                                            {{expense.other_expense}}
                                                        </td> 
                                                        <td>
                                                            {{expense.waiters_bill}}
                                                        </td> 
                                                        <td>
                                                            {{expense.bbq_price}}
                                                        </td> 
                                                        <td>
                                                            {{expense.stuff_bill}}
                                                        </td> 
                                                        <td>
                                                            {{expense.setup_bill}}
                                                        </td> 
                                                        <td>
                                                            {{expense.decor_bill}}
                                                        </td>
                                                        <td>
                                                          {{expense.total_expense}}
                                                        </td>
                                                        <!-- <td>
                                                            <button class="btn btn-light btn-rounded">Invoice <i class="mdi mdi-download ml-2"></i></button>
                                                        </td> -->
                                                        <td id="tooltip-container1">
                                                          <div class="d-flex">
                                                            <a href="javascript:void(0);"  class="btn-sm waves-effect waves-light"  data-bs-toggle="modal" data-bs-target="#expense{{ expense.id }}"  class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                              <i class="mdi mdi-pencil font-size-18" class="modal-title mt-0" id="expense{{expense.id}}"></i>
                                                            </a>
                
                                                              <!-- <a href="#" class="text-danger" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                                                                <i class="mdi mdi-trash-can font-size-18"></i>
                                                              </a> -->
                                                            
                                                          </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        
                                <!-- Small modal -->
                              
                                <div class="modal fade" id="expense{{ expense.id }}" tabindex="-1" role="dialog" aria-labelledby="expense{{ expense.id }}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mt-0" id="#expense{{ expense.id }}Title">Edit Expense</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                                <form class="form" enctype="multipart/form-data" action="" method="POST">


                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                        
                                        
                                                        <div class="input-group input-group-merge">
                                                            <select class="js-select form-select" autocomplete="off" name="bill">
                                                            
                                        
                                                            </select>
                                          
                                                          </div>
                                        
                                        
                                        
                                        
                                        
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Pakwan bill</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="pakwan-bill" id="" placeholder="0"
                                                            aria-label="">
                                        
                                                        </div>
                                        
                                                        </select>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Electicity bill</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="electicity-bill" id="" placeholder="0"
                                                            aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Naan qty</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="naan-qty" id="" placeholder="0"
                                                            aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Cold drinks</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="event-date" id="" placeholder="0"
                                                          aria-label="">
                                        
                                                      </div>
                                                      <!-- End Input Group -->
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Water bottles</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="no-of-people" id=""
                                                          placeholder="0" aria-label="">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">BBQ kg qty</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="bbq-qty" id=""
                                                          placeholder="0" aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Diesel ltr</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="text" class="js-toggle-password form-control" name="diesel-ltr" id=""
                                                          placeholder="0" aria-label="">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">No of waiters:</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="no-of-waiters" id=""
                                                            placeholder="0" aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Dhobi</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="dhobi" id=""
                                                            placeholder="0" aria-label="">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Other expense</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="other-expense" id=""
                                                            placeholder="0" aria-label="">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                  
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Other expense Details</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                        
                                                          <textarea class="form-select" name="details" id="" cols="90" rows="5" ></textarea>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Setup bill</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Checkbox Switch -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="setup-bill" id=""
                                                              placeholder="0" aria-label="">
                                                          </div>
                                                        <!-- End Checkbox Switch -->
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>

                                                    <div class="row mb-4">
                                                        <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Decor</label>
                                          
                                                        <div class="col-sm-9">
                                                          <!-- Checkbox Switch -->
                                                          <div class="input-group input-group-merge">
                                                              <input type="number" class="js-toggle-password form-control" name="decor" id=""
                                                                placeholder="0" aria-label="">
                                                            </div>
                                                          <!-- End Checkbox Switch -->
                                                          <!-- End Input Group -->
                                                        </div>
                                                      </div>

                                                      <div class="row mb-4">
                                                        <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Decor bill</label>
                                          
                                                        <div class="col-sm-9">
                                                          <!-- Checkbox Switch -->
                                                          <div class="input-group input-group-merge">
                                                              <input type="number" class="js-toggle-password form-control" name="decor-bill" id=""
                                                                placeholder="0" aria-label="">
                                                            </div>
                                                          <!-- End Checkbox Switch -->
                                                          <!-- End Input Group -->
                                                        </div>
                                                      </div>
                                                 
                                                    <!-- End Form -->
                                                  </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="model-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button id="model-btn" type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                  
                                </div><!-- /.modal -->
                                {% endfor %}
                              </table>

                              <div class="modal fade" id="add-expense-model" tabindex="-1" role="dialog" aria-labelledby="add-expense-modelTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0" id="add-expense-modelTitle">Add Expense</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">
                                            <form class="form" enctype="multipart/form-data" action="{% url 'event-expense' %}" method="POST">
                                                {% csrf_token %}
  
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                    
                                    
                                                    <div class="input-group input-group-merge">
                                                      <select class="js-select form-select" autocomplete="off" name="bill-no">
                                                        <option>Select</option>
                                                        {% for event in events %}
                                                        <option value="{{ event.id }}" data-pakwan-bill="{{ event.total_menu }}">{{ event.customer_name }}_bill_{{ event }}</option>
                                                        {% endfor %}
                                                    </select>
                                                        
                                      
                                                      </div>
                                    
                                    
                                    
                                    
                                    
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="vehicalType" class="col-sm-3 col-form-label form-label">Pakwan bill</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="pakwan-bill" id="pakhwan" placeholder="0"
                                                        aria-label="">
                                    
                                                    </div>
                                    
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Electicity bill</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="electicity-bill" id="" placeholder="0"
                                                        aria-label="">
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Naan qty</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="naan-qty" id="" placeholder="0"
                                                        aria-label="">
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Cold drinks</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <input type="number" class="js-toggle-password form-control" name="cold-drinks" id="" placeholder="0"
                                                      aria-label="">
                                    
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                                <!-- End Form -->
                                                
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Cold drink Type</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <select class="js-select form-select" autocomplete="off" name="cold-drinks-type">
                                                        <option> Select</option>
                                                        <option>Cold Drinks Tin</option>
                                                        <option>Cold Drinks 1.5L</option>                                    
                                                      </select>
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>

                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Water bottles</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <input type="number" class="js-toggle-password form-control" name="water-bottles" id=""
                                                      placeholder="0" aria-label="">
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                                
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Water Bottles Type</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <select class="js-select form-select" autocomplete="off" name="water-bottles-type">
                                                        <option> Select</option>
                                                        <option>Water 500ML</option>
                                                        <option>Water 300ML</option>  
                                                        <option>Water 1.5L</option>                                    

                                                      </select>
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>

                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">BBQ kg qty</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="bbq-qty" id=""
                                                      placeholder="0" aria-label="">
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Diesel ltr</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <input type="text" class="js-toggle-password form-control" name="diesel-ltr" id=""
                                                      placeholder="0" aria-label="">
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">No of waiters:</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="no-of-waiters" id=""
                                                        placeholder="0" aria-label="">
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Dhobi</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="dhobi" id=""
                                                        placeholder="0" aria-label="">
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->

                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Stuff</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                    <input type="number" class="js-toggle-password form-control" name="stuff" id=""
                                                      placeholder="0" aria-label="">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->

                                                <!-- Form -->
                                    
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="" class="col-sm-3 col-form-label form-label">Other expense</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="other-expense" id=""
                                                        placeholder="0" aria-label="">
                                                    </div>
                                    
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                              
                                    
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Other expense Details</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                    
                                                      <textarea class="form-select" name="expense-details" id="" cols="90" rows="5" ></textarea>
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
                                    
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Setup bill</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Checkbox Switch -->
                                                    <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="setup-bill" id=""
                                                          placeholder="0" aria-label="">
                                                      </div>
                                                    <!-- End Checkbox Switch -->
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
  
                                                <!-- Form -->
                                                <div class="row mb-4">
                                                  <label for="vehiclImg" class="col-sm-3 col-form-label form-label">Decore Details</label>
                                    
                                                  <div class="col-sm-9">
                                                    <!-- Input Group -->
                                                    <div class="input-group input-group-merge">
                                    
                                                      <textarea class="form-select" name="decore-details" id="" cols="90" rows="5" ></textarea>
                                    
                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                </div>
                                                <!-- End Form -->
  
                                                  <div class="row mb-4">
                                                    <label for="countryShortDescription" class="col-sm-3 col-form-label form-label">Decor bill</label>
                                      
                                                    <div class="col-sm-9">
                                                      <!-- Checkbox Switch -->
                                                      <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="decor-bill" id=""
                                                            placeholder="0" aria-label="">
                                                        </div>
                                                      <!-- End Checkbox Switch -->
                                                      <!-- End Input Group -->
                                                    </div>
                                                  </div>
                                             
                                                <!-- End Form -->
                                              
                                        </div>
                                        <div class="modal-footer">
                                          <button id="model-btn1" type="button" class="btn" data-bs-dismiss="modal">Close</button>
                                          <button id="model-btn2" type="submit" class="btn btn-primary" >Save changes</button>
                                        </div>
                                          </form>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                              
                            </div>
                            </div></div></div></div>
                        
                            
                        <!-- end row -->
                    </div>
                </div> <!-- container-fluid -->
            </div>
          
         
            <!-- End Page-content -->
{% endblock content %}

{% block extra_javascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
      var selectElement = document.querySelector('select[name="bill-no"]');

      var pakwanBillInput = document.querySelector('input[name="pakwan-bill"]');

      var pakwanBillInput = document.getElementById("pakhwan");

  
      selectElement.addEventListener('change', function() {
          var selectedOption = selectElement.options[selectElement.selectedIndex];
          var pakwanBill = selectedOption.getAttribute('data-pakwan-bill');

          if (pakwanBill !== null) {
              pakwanBillInput.value = pakwanBill;
          } else {


              console.log('else')

              pakwanBillInput.value = ''; // Clear the input if no data found
          }
      });
  });
  </script>
  

    <!-- Required datatable js -->
  
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>

 
{% endblock extra_javascript %}