{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Kitchen Sale{% endblock title %}

{% block extra_css %}
     <!-- DataTables -->
     <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

     <!-- Responsive datatable examples -->
     <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
    
{% block content %}
        <div class="main-content">
            <div class="page-content">
                <!-- start page title -->
                <div class="page-title-box">
                    <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-sm-6">
                            <div class="page-title">
                                <h4>Sales</h4>
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Hall</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Kitchen></a></li>
                                        <li class="breadcrumb-item active"> <a href="javascript: void(0);">Sales</a></li>
                                    </ol>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="float-end d-none d-sm-block">
                                <a href="" class="btn btn-success" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#add-expense-model"><i class="mdi mdi-plus me-2"></i>Add Expense</a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- end page title -->    
                <div class="container-fluid">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                {% include 'partials/alerts.html' %}

                                    <div class="card-body">
                                        <!-- <div>
                                            <a href="javascript:void(0);" class="btn btn-success mb-2" class="btn btn-primary btn-sm waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#add-expense-model"><i class="mdi mdi-plus me-2"></i> Add Expense</a>
                                        </div> -->
                                        <ul class="nav nav-tabs nav-tabs-custom mb-4">
                                            <li class="nav-item">
                                                <a class="nav-link fw-bold p-3 active" href="#">All Orders</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Active</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3 fw-bold" href="#">Unpaid</a>
                                            </li>
                                        </ul>
                                        <div class="table-responsive">
                                            <table class="table table-centered datatable dt-responsive nowrap " style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                <thead class="thead-light">
                                                    <tr class="text-center">
                                                        <th>Customer</th>
                                                        <th>Date</th>
                                                        <th>Mutton</th>
                                                        <th>Chicken </th>
                                                        <th>Beef</th>
                                                        <th>Rice</th>
                                                        <th>Dahi</th>
                                                        <th>Doodh</th>
                                                        <th>Sabzi</th>
                                                        <th>Fruits</th>
                                                        <th>Khoya/Cream/Paneer</th>
                                                        <th>Dry Fruits</th>
                                                        <th>Oil</th>
                                                        <th>Other Items Bill</th>
                                                        <th>Other Items Desc</th>
                                                        <th>Total Bill</th>

                                                        <!-- <th>Invoice</th> -->
                                                        <th style="width: 120px;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for expense in kitchen_expense %}
                                                    <tr class="text-center">
                                                        
                                                        
                                                        <td><a href="javascript: void(0);" class="text-dark fw-bold">{{expense.customer_name}}</a> </td>
                                                        <td>
                                                            {{expense.date}}
                                                        </td>
                                                        <td>{{expense.mutton}}</td>
                                                        
                                                        <td>
                                                            {{expense.chicken}}
                                                        </td>
                                                      
                                                         <td>
                                                            {{expense.beef}}
                                                        </td>
                                                         <td>
                                                            {{expense.rice}}
                                                        </td> 
                                                        <td>
                                                            {{expense.dahi}}
                                                        </td> 
                                                        <td>
                                                            {{expense.doodh}}
                                                        </td> 
                                                        <td>
                                                            {{expense.sabzi}}
                                                        </td> 
                                                        <td>
                                                            {{expense.fruits}}
                                                        </td> 
                                                        <td>
                                                            {{expense.khoya_cream_paneer}}
                                                        </td> 
                                                        <td>
                                                            {{expense.dry_fruits}}
                                                        </td> 
                                                        <td>
                                                            {{expense.oil}}
                                                        </td> 
                                                        <td>
                                                            {{expense.other_items_bill}}
                                                        </td>
                                                        <td>
                                                          {{expense.other_items_desc}}
                                                        </td>

                                                        <td>
                                                          {{expense.total_bill}}
                                                        </td>
                                                        <!-- <td>
                                                            <button class="btn btn-light btn-rounded">Invoice <i class="mdi mdi-download ml-2"></i></button>
                                                        </td> -->
                                                        <td id="tooltip-container1">
                                                          <div class="d-flex">
                                                            <a href="javascript:void(0);"  class="btn-sm waves-effect waves-light"  data-bs-toggle="modal" data-bs-target="#expense{{ expense.id }}"  class="me-3 text-primary" data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                                                              <i class="mdi mdi-pencil font-size-18" class="modal-title mt-0" id="expense{{expense.id}}"></i>
                                                            </a>
                
                                                            <a href="{% url 'kitchen-expense-delete' expense.id %}" class="text-danger"
                                                            data-bs-container="#tooltip-container1" data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="Delete">
                                                            <i class="mdi mdi-trash-can font-size-18"></i>
                                                          </a>
                                                            
                                                          </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        
                                <!-- Small modal -->
                              
                                <div class="modal fade" id="expense{{ expense.id }}" tabindex="-1" role="dialog" aria-labelledby="expense{{ expense.id }}Title" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title mt-0" id="#expense{{ expense.id }}Title">Edit Expense</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                              <form class="form" enctype="multipart/form-data"
                                              action="{% url 'kitchen-expense-update' expense.id %}" method="POST">
                                                  {% csrf_token %}

                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                        
                                        
                                                        <div class="input-group input-group-merge">
                                                          <select class="js-select form-select" autocomplete="off" name="bill">
                                                            <option value="{{expense.bill}}">{{ expense.customer_name }}_bill_{{ expense.id }}</option>
                                                              {% for bill in sales %}
                                                              <option value="{{ bill.id }}" >{{ bill.customer_name }}_bill_{{ bill.id }}</option>
                                                              {% endfor %}
                                                          </select>
                                          
                                                          </div>

                                        
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                        
                                                    <!-- Form -->
                                                  <div class="row mb-4">
                                                    <label for="" class="col-sm-3 col-form-label form-label">Date</label>

                                                    <div class="col-sm-9">
                                                      <!-- Input Group -->
                                                      {% with formatted_expense_date=expense.date|date:"Y-m-d" %}
                                                      <input type="date" class="js-toggle-password form-control" name="date"
                                                        id="expense-date" placeholder="expense Date" value="{{ formatted_expense_date }}">
                                                      {% endwith %}

                                                    </div>
                                                    <!-- End Input Group -->
                                                  </div>
                                                  <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Mutton</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="mutton" id="" placeholder="0"
                                                            aria-label="" value="{{expense.mutton}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Chicken</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="chicken" id="" placeholder="0"
                                                            aria-label="" value="{{expense.chicken}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Beef</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="beef" id="" placeholder="0"
                                                          aria-label="" value="{{expense.beef}}">
                                        
                                                      </div>
                                                      <!-- End Input Group -->
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Rice</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="number" class="js-toggle-password form-control" name="rice" id=""
                                                          placeholder="0" aria-label="" value="{{expense.rice}}">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Dahi</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                            <input type="number" class="js-toggle-password form-control" name="dahi" id=""
                                                          placeholder="0" aria-label="" value="{{expense.dahi}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Doodh</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <input type="text" class="js-toggle-password form-control" name="doodh" id=""
                                                          placeholder="0" aria-label="" value="{{expense.doodh}}">
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Sabzi</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="sabzi" id=""
                                                            placeholder="0" aria-label="" value="{{expense.sabzi}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Fruits</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="fruits" id=""
                                                            placeholder="0" aria-label="" value="{{expense.fruits}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    

                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Dry Fruits</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="fruits" id=""
                                                            placeholder="0" aria-label="" value="{{expense.dry_fruits}}">
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->

                                                    <!-- Form -->
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="" class="col-sm-3 col-form-label form-label">Khoya/Cream/Paneer</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                                          <input type="number" class="js-toggle-password form-control" name="khoya-paneer" id=""
                                                            placeholder="0" aria-label="" value="{{expense.khoya_cream_paneer}}">
                                                        </div>
                                        
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                        
                                                  <!-- Form -->
                                                  <div class="row mb-4">
                                                    <label for="" class="col-sm-3 col-form-label form-label">Oil</label>
                                      
                                                    <div class="col-sm-9">
                                                      <!-- Input Group -->
                                                      <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="oil" id=""
                                                          placeholder="0" aria-label="" value="{{expense.oil}}">
                                                      </div>
                                      
                                                      <!-- End Input Group -->
                                                    </div>
                                                  </div>
                                                  <!-- End Form -->

                                                  <!-- Form -->
                                                  <div class="row mb-4">
                                                    <label for="" class="col-sm-3 col-form-label form-label">Other Items Bill</label>
                                      
                                                    <div class="col-sm-9">
                                                      <!-- Input Group -->
                                                      <div class="input-group input-group-merge">
                                                        <input type="number" class="js-toggle-password form-control" name="other-items-bill" id=""
                                                          placeholder="0" aria-label="" value="{{other_items_bill}}">
                                                      </div>
                                      
                                                      <!-- End Input Group -->
                                                    </div>
                                                  </div>
                                                  <!-- End Form -->
                          
                                        
                                        
                                                    <!-- Form -->
                                                    <div class="row mb-4">
                                                      <label for="dry-fruits" class="col-sm-3 col-form-label form-label">Other items Description</label>
                                        
                                                      <div class="col-sm-9">
                                                        <!-- Input Group -->
                                                        <div class="input-group input-group-merge">
                                        
                                                          <textarea class="form-select" name="other-items-desc" id="" cols="90" rows="5" >{{expense.other_items_desc}}</textarea>
                                        
                                                        </div>
                                                        <!-- End Input Group -->
                                                      </div>
                                                    </div>
                                                    <!-- End Form -->
                                                    <div class="modal-footer">
                                                      <button id="model-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                      <button id="model-btn" type="button" class="btn btn-primary">Save changes</button>
                                                      </div>
                                                  </form>
                                            </div>
                                            
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->

                                {% endfor %}
                              </table>
                                  

                              <div class="modal fade" id="add-expense-model" tabindex="-1" role="dialog" aria-labelledby="add-expense-modelTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title mt-0" id="add-expense-modelTitle">Add Expense</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        
                                        <div class="modal-body">
                                          <form class="form" enctype="multipart/form-data" action="{% url 'kitchen-expense' %}" method="POST">
                                            {% csrf_token %}

                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="vehicalType" class="col-sm-3 col-form-label form-label">Bill</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                  
                                  
                                                  <div class="input-group input-group-merge">
                                                      <select class="js-select form-select" autocomplete="off" name="bill">
                                                        <option>Select</option>
                                                          {% for bill in sales %}
                                                          <option value="{{ bill.id }}" data-sale-bill="{{ bill.no_of_people }}" >{{ bill.customer_name }}_bill_{{ bill.id }}</option>
                                                          {% endfor %}
                                                      </select>
                                                  </div>                                                                         
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                            

                                              
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Number of People</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="no-of-people" id="people" placeholder="0"
                                                      aria-label="">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->

                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Payment Details</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                      <input type="text" class="js-toggle-password form-control" name="payment-details" id="payment"
                                                      aria-label="">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->


                                            <!-- Form -->
                                            <div class="row mb-4">
                                              <label for="" class="col-sm-3 col-form-label form-label">Date</label>
                                
                                              <div class="col-sm-9">
                                                <!-- Input Group -->
                                                <div class="input-group input-group-merge">
                                                  <input type="date" class="js-toggle-password form-control" name="date" id="date" placeholder="Event Date">

                                
                                                </div>
                                
                                              
                                                <!-- End Input Group -->
                                              </div>
                                            </div>
                                            <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Mutton</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="mutton" id="" placeholder="0"
                                                      aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Chicken</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="chicken" id="" placeholder="0"
                                                      aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Beef</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <input type="number" class="js-toggle-password form-control" name="beef" id="" placeholder="0"
                                                    aria-label="" value="0">
                                  
                                                </div>
                                                <!-- End Input Group -->
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Rice</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <input type="number" class="js-toggle-password form-control" name="rice" id=""
                                                    placeholder="0" aria-label="" value="0">
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Dahi</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                      <input type="number" class="js-toggle-password form-control" name="dahi" id=""
                                                    placeholder="0" aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Doodh</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <input type="text" class="js-toggle-password form-control" name="doodh" id=""
                                                    placeholder="0" aria-label="" value="0">
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Sabzi</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                    <input type="number" class="js-toggle-password form-control" name="sabzi" id=""
                                                      placeholder="0" aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Fruits</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                    <input type="number" class="js-toggle-password form-control" name="fruits" id=""
                                                      placeholder="0" aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->



                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Dry Fruits</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                    <input type="number" class="js-toggle-password form-control" name="dry-fruits" id=""
                                                      placeholder="0" aria-label="" value="0">
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->


                                  
                                              <!-- Form -->
                                  
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="" class="col-sm-3 col-form-label form-label">Khoya/Cream/Paneer</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                                    <input type="number" class="js-toggle-password form-control" name="khoya-paneer" id=""
                                                      placeholder="0" aria-label="" value="0">
                                                  </div>
                                  
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                  
                                            <!-- Form -->
                                            <div class="row mb-4">
                                              <label for="" class="col-sm-3 col-form-label form-label">Oil</label>
                                
                                              <div class="col-sm-9">
                                                <!-- Input Group -->
                                                <div class="input-group input-group-merge">
                                                  <input type="number" class="js-toggle-password form-control" name="oil" id=""
                                                    placeholder="0" aria-label="" value="0">
                                                </div>
                                
                                                <!-- End Input Group -->
                                              </div>
                                            </div>
                                            <!-- End Form -->

                                            <!-- Form -->
                                            <div class="row mb-4">
                                              <label for="" class="col-sm-3 col-form-label form-label">Other Items Bill</label>
                                
                                              <div class="col-sm-9">
                                                <!-- Input Group -->
                                                <div class="input-group input-group-merge">
                                                  <input type="number" class="js-toggle-password form-control" name="other-items-bill" id=""
                                                    placeholder="0" aria-label="" value="0">
                                                </div>
                                
                                                <!-- End Input Group -->
                                              </div>
                                            </div>
                                            <!-- End Form -->
                    
                                  
                                  
                                              <!-- Form -->
                                              <div class="row mb-4">
                                                <label for="dry-fruits" class="col-sm-3 col-form-label form-label">Other items Description</label>
                                  
                                                <div class="col-sm-9">
                                                  <!-- Input Group -->
                                                  <div class="input-group input-group-merge">
                                  
                                                    <textarea class="form-select" name="other-items-desc" id="" cols="90" rows="5" ></textarea>
                                  
                                                  </div>
                                                  <!-- End Input Group -->
                                                </div>
                                              </div>
                                              <!-- End Form -->
                                              <div class="modal-footer">
                                                <button id="model-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button id="save-btn" type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </form>
                                                
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                              
                            </div>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                        
                            
                        <!-- end row -->
                    </div>
                </div> <!-- container-fluid -->
            </div>
          
         
            <!-- End Page-content -->
{% endblock content %}

{% block extra_javascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var selectElement = document.querySelector('select[name="bill"]');
    var pakwanBillInput = document.getElementById("people");

    selectElement.addEventListener('change', function() {
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var pakwanBill = selectedOption.getAttribute('data-sale-bill');

        
        if (pakwanBill !== null) {
            pakwanBillInput.value = pakwanBill;
            console.log(pakwanBillInput)
            
        } else {
            console.log('else')
            pakwanBillInput.value = ''; // Clear the input if no data found
        }
    });
});
  </script>
  

    <!-- Required datatable js -->
  
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'js/pages/ecommerce-datatables.init.js' %}"></script>

 
{% endblock extra_javascript %}